<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h6 class="card-title">User Create</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Full name</label>
                                    <input type="text" name="fullname" v-model="form.fullname" class="form-control" value="">
                                </div>
                            </div>
                             <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Email</label>
                                    <input type="email" name="email" v-model="form.email" class="form-control" value="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Password</label>
                                    <input type="password" name="password" v-model="form.password" class="form-control" value="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group d-flex align-items-center" v-for="(rol,index) in roles" :key="index">
                                    <input type="checkbox" class="mr-2"  v-model="form.roles" :value="rol.id">
                                    <label for="" class="text-uppercase">{{rol.name}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="" @click="submit" class="btn btn-success mr-2">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Form from '@/components/common/Form';
import UserService from '@/services/user';
import RoleService from '@/services/role';
export default {
    extends:Form,
    data() {
        return {
            apiService:UserService,
            apiRoleService:RoleService,
            form:{
                name:"",
                email:"",
                password:"",
                roles:[]
            },
            roles:[],
            redirectTo:'users-index'
        }
    },
    methods: {
        async getRoles() {
            try {
                let response = await this.apiRoleService.index();
                let result = response.data;
                this.roles = result.data;
            } catch (error) {
                alert(error.message);
            }
        }
    },
    mounted() {
        this.getRoles();
    },
}
</script>

<style >
    .form-group {
        padding:10px;
    }
</style>