<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h6 class="card-title">User Create</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Full name</label>
                                    <input type="text" name="fullname" v-model="form.fullname" class="form-control" value="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Email</label>
                                    <input type="email" name="email" v-model="form.email" class="form-control" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="" @click="submit" class="btn btn-success mr-2">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Form from '@/components/common/Form';
import UserService from '@/services/user';
export default {
    extends:Form,
    data() {
        return {
            apiService:UserService,
            form:{
                name:"",
                email:""
            },
            redirectTo:'users-index'
        }
    }
}
</script>