<template>
</template>

<script>
import AuthService from '@/services/auth';

export default {

    data() {
        return {
            apiService:AuthService,
            form:{
                email:"jesus.gutierrez971225@gmail.com",
                password:"secret-password"
            }
        }
    },

    methods:{
        async submit() {
            let response = this.apiService.auth(this.form);
            this.$store.dispatch('saveToken',{
                token:response.token
            });
            this.$router.push({name: 'index'});
        }
    },

    mounted() {
        this.submit();
    },

}
</script>