<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h3>Users List</h3>
                        <router-link to="/users/create" class="btn btn-success btn-sm">Create</router-link>
                    </div>
                    <div class="card-body">
                        <users-table :items="items" @delete="deleteItem"></users-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Table from '@/components/common/Table';
import UserService from '@/services/user';
import UsersTable from '@/components/users/components/UsersTable';
export default {
    extends:Table,
    components:{
        'users-table':UsersTable
    },
    data() {
        return {
            apiService:UserService,
        }
    },
    methods: {
    }
}
</script>