<template>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">Full Name</th>
                <th class="text-center">Email</th>
                <th>Roles</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" v-for="(item , index) in items" :key="index">
                <td >{{item.fullname}}</td>
                <td >{{item.email}}</td>
                <td></td>
                <td>
                    <button-actions
                        :to="'/users/'+item.id+'/edit'"
                        @delete="deleteItem(item)"
                    />
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
import ButtonsActions from '@/components/common/ButtonActions';
export default {
    components:{
        'button-actions':ButtonsActions
    },
    props:{
        items:{
            type:Array,
            required:true
        }
    },
    methods: {
        deleteItem(item) {
            this.$emit('delete',item);
        }
    },
}
</script>