<template>
    <div class="d-flex">
        <router-link :to="to" class="btn btn-sm btn-primary">Edit</router-link>
        <button @click="deleteItem" class="btn btn-sm btn-danger">Delte</button>
    </div>
</template>

<script>
export default {
    props:{
        to:{
            type:String,
            required:true
        }
    },

    methods:{
        deleteItem() {
            this.$emit('delete');
        }
    }
}
</script>