<template>
</template>
<script>
export default {

    data() {
        return {
            apiService:null,
            waitingResponse:false,
            form:{},
            redirectTo:"",
            id:null
        }
    },
    computed:{
        isPostAction() {
            if (this.id) {
                return false;
            }
            return true;
        }
    },
    methods: {
        async submit() {
            try {
                let message = null;
                if (this.isPostAction) {
                    message = "user created";
                    let response = await this.apiService.store(this.form);
                }else{
                    let response = await this.apiService.update(this.id , this.form);
                    message = "user updated";
                }
                alert(message);

                this.redirect();
            } catch (error) {
                alert(error.message);
            }
        },
        async getItem(id) {
            try {
                let response = await this.apiService.show(id);
                let result   = response.data;
                this.form    = result.data;
            } catch (error) {
                alert(error.message);
            }
        },
        redirect() {
            this.$router.push({name:this.redirectTo});
        },
    },
    mounted() {
        this.id = this.$route.params.id ?? null;
        if (this.id) {
            this.getItem(this.id);
        }
    },

}
</script>