<template>
</template>
<script>
export default {

    data() {
        return {
            apiService:null,
            waitingResponse:false,
            items:[]
        }
    },

    methods: {
        async getItems() {
            this.waitingResponse = true;
            try {
                let response = await this.apiService.index();
                let result   = response.data;
                this.items   = result.data;
                console.log(this.items);
            } catch (error) {
                console.log(error);
            }
            this.waitingResponse = false;
        },
        async deleteItem(item) {
            try {
                let response = await this.apiService.delete(item.id);
                this.removeItem(item.id);
                alert("item deleted");
            } catch (error) {
                alert(error.message);
            }
        },
        removeItem(itemId){
            this.items = this.items.filter(item => item.id != itemId);
        }
    },

    mounted() {
        this.getItems();
    },

}
</script>