<template>
  <div id="app">
    <Header></Header>
    <router-view/>
  </div>
</template>

<script>
import Header from '@/components/common/shared/Header';
export default {
  components:{
    Header
  }
}
</script>
